services:
  postgres:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=template
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  redis:
    image: redis:8-alpine
    ports:
      - 6379:6379
