[env]
CONFIG_PATH = './src/config/development.yaml'

[tools]
node = "25.2.1"
pnpm = "10.27.0"

[tasks.up]
run = ['docker compose up -d']

[tasks.down]
run = ['docker compose down']

[tasks.test-load]
run = 'k6 run ./test/k6/load-test.ts'

[tasks.ci]
run = [
  'pnpm run check',
  'pnpm run build',
  'pnpm run migrate down --to 0',
  'pnpm run migrate up',
  'pnpm run test',
  'pnpm run test:e2e',
]
