[env]
CONFIG_PATH = './src/config/development.yaml'

[tools]
bun = "1.3.8"

[tasks.up]
run = ['docker compose up -d']

[tasks.down]
run = ['docker compose down']

[tasks.test-load]
run = 'k6 run ./test/k6/load-test.ts'

[tasks.ci]
run = [
  'bun run check',
  'bun run build',
  'bun run migrate down --to 0',
  'bun run migrate up',
  'bun run test',
  'bun run test:e2e',
]
